button {
    background-color: #de8d14;
    height: 40px;
    width: 50%;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 10px 10px 8px rgb(39, 38, 38);
    margin-top: 10px;
    border: 2px solid black;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

.button:hover {
    background-color: #2e210c;
    color: white;
}

h4.add {
    font-size: 1em;
    text-shadow: 3px 3px 15px rgb(27, 77, 32);
    text-align: center;
}

.addForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputFields {
    margin: 10px;
    font-size: 20px;
    width: 60%;
    background-color:rgb(218, 235, 179);
    border: 1px solid black;
    box-shadow: 10px 10px 20px rgb(39, 38, 38);
    padding: 5px;
}

.addFormBackground {
    background-color: #BE9046;
    margin-left: 55px;
    margin-right: 55px;
    padding-bottom: 25px;
    box-shadow: 10px 10px 20px rgb(39, 38, 38);
    border: 1px solid black;
    margin-top: 35px;
}