.footer {
    background-color: #423217;
    margin-bottom: 0px;
    border-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h5.footer {
    margin-bottom: 0px;
    color: #de8d14;
    margin-bottom: 15px;
}

a {
    color: #de8d14;
}