/* @media screen and (max-width: 1280px) {
    .productImage {
        width: auto;
        max-width: 350px;
        min-width: 350px;
        height: auto;
        max-height: 291px;
        min-height: 291px;
    }
} */

@media screen and (max-width: 1290px) {
    .productName {
        margin-left: 100px;
        font-size: 3em;
    }

    p {
        font-size: 20px;
    }

    .iconSize {
        height: 60px;
        width: 60px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .productImage {
        /* max-height: 80%;
        max-width: 30%; */
        width: auto;
        max-width: 350px;
        min-width: 350px;
        height: auto;
        max-height: 291px;
        min-height: 291px;
    }

    .expandedItemProperties {
        margin-left: 40px;
    }
}

@media screen and (max-width: 960px) {
    .productImage {
        width: auto;
        max-width: 280px;
        min-width: 280px;
        height: auto;
        max-height: 233px;
        min-height: 233px;
    }
}

@media screen and (max-width: 890px) {
    .productName {
        margin-left: 40px;
        font-size: 2em;
    }

    .productImage {
        width: auto;
        max-width: 250px;
        min-width: 250px;
        height: auto;
        max-height: 208px;
        min-height: 208px;
    }

    .arrows {
        height: 35px;
        width: 35px;
    }

    h1.title {
        font-size: 4em;
    }

    .iconSize {
        height: 40px;
        width: 40px;
    }

    p {
        font-size: 18px;
    }

    .buttonNoImage {
        overflow-wrap: break-word;
        font-size: 2vh;
    }
}

@media screen and (max-width: 700px) {
    .productImage {
        width: auto;
        max-width: 150px;
        min-width: 150px;
        height: auto;
        max-height: 125px;
        min-height: 125px;
    }

    .icons {
        margin-right: 0px;
    }

    .expandedItemProperties {
        margin-left: 20px;
    }

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 520px) {
    .productName {
        font-size: 1.5em;
    }

    h1.title {
        font-size: 2em;
    }

    h3.subtitle {
        font-size: smaller;
    }

    h5.sort {
        font-size: 10px;
    }

    p {
        font-size: 17px;
    }

    .iconSize {
        height: 35px;
        width: 35px;
    }
}